<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>搜索</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/forum/css/main.min.css">
    <link rel="bookmark" type="image/x-icon" href="forum/images/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="forum/images/favicon.ico">

    <link rel="stylesheet" href="/forum/bbs/common.css">
    <link rel="stylesheet" href="/forum/bbs/index.css">
    <link rel="stylesheet" href="/forum/css/mystyle.css">
    <link rel="stylesheet" href="/forum/bbs/iconfont.css">
    <script type="text/javascript" src="/forum/lib/jquery.min.js"></script>
</head>
<body style="">
<div id="body">
    <div th:replace="forum/header"></div>

    <div class="searchbox" style="display: block;">
        <div class="search">
            <form action="/forum/search" method="get" name="searchform" id="searchform">
                <input name="content" id="content" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">

                <input class="input_submit" type="submit" style="cursor: pointer">
            </form>
        </div>
        <!--<div class="searchclose"></div>-->
    </div>

    <!--*******************************-->
   <!-- <main class="main-wrapper">-->

        <div class="yzm_main container">
            <div class="yzm_main_left">
                <div class="yzm_list_section">
                    <strong>搜索"[[${content}]]"找到[[${total}]]个结果</strong>
                    <ul class="yzm_list">
                        <li th:each="item,temp:${rows}" >
                            <a th:href="@{'/forum/u'+${item.yhid}}" target="_blank" class="yzm_avatar" th:title="${item.author}">
                                <img th:src="${item.avatar}" th:alt="${item.author}">
                            </a>

                            <h3>
                                <span class="yzm_badge" th:text="${item.forumCategoryName}"></span>
                                <a th:href="@{'/forum/question/questionDetail/'+${item.id}}" target="_blank" th:text="${item.title}"></a>
                            </h3>
                            <div class="yzm_list_info">
                                <a th:href="@{'/forum/u/'+${item.yhid}}" target="_blank">
                                    <cite th:text="${item.author}"></cite>
                                </a>
                                <span class="yzm_time" th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                <span class="yzm_list_nums">
			              	<span class="yzm_browse" title="浏览次数"><img src="/forum/images/browse.png" alt="浏览次数">[[${item.hit}]]次</span>
			              	<span class="yzm_comment" title="评论次数"><img src="/forum/images/comment.png" alt="评论次数">[[${item.commentNum}]]</span>
			              </span>
                            </div>
                            <div class="yzm_list_badge">
                                <!--<span class="yzm_badge yzm_stick">置顶</span>
                                <span class="yzm_badge yzm_essence">精品</span>-->


                            </div>
                        </li>

                    </ul>
                </div>


            </div>
            <div class="yzm_main_right">

                <div th:replace="forum/sidebar"></div>

            </div>

            <div class="clear"></div>
        </div>
    <!--</main>-->
    <!--*******************************-->

    <div th:replace="forum/footer"></div>
</div>
<div class="shade hide"></div>

<script type="text/javascript" src="/forum/js/common.js"></script>
<script th:inline="javascript"> var ctx = [[@{/}]];</script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/ruoyi/js/fast.js}"></script>
<script>
    //nav
    $("#mnavh").click(function(){
        $(".searchbox").toggleClass("open");
    });
    //searchclose
    $(".searchclose").click(function(){
        $(".searchbox").removeClass("open");
    });

    var isLogin='[[${user!=null}]]';

    function openAddQuestion(){
        if(isLogin=='false'){
            openLoginWindow();
            return;
        }
        window.location.href=ctx+"uploadQuestion"
    }

    $(function(){

    });




</script>


</body>
</html>